name: MLflow CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: games-env
          environment-file: MLProject/conda.yaml
          python-version: 3.12

      - name: Show Conda info
        run: conda info

      - name: Install MLflow
        run: pip install mlflow

      - name: Run training script
        run: python MLProject/modelling.py

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            mlruns/
            *.pkl
            *.joblib
